---
import ProfilePhoto from "./ProfilePhoto.astro"

const { type, name, href } = Astro.props
---

<a
	href={href || "/"}
	class={`${
		type || ""
	} justify-content flex gradient-box items-center rounded-2xl border px-2 py-1 no-underline`}
>
	<div class="w-full">
		<span class="button-text font-bold">
			{name}
		</span>
	</div>
</a>

<style lang="scss">
	a:link {
		text-decoration: none;
	}
	a:visited {
		text-decoration: none;
	}
	a:hover {
		text-decoration: none;
	}
	a:active {
		text-decoration: none;
	}

	.gradient-box {
		display: flex;
		align-items: center;
		margin: 10px;
		position: relative;
		box-sizing: border-box;
		$border: 2px;
		color: #fff;
		background: var(--background);
		background-clip: padding-box; /* !importanté */
		border: solid $border transparent; /* !importanté */
		border-radius: 1em;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			margin: -$border; /* !importanté */
			border-radius: inherit; /* !importanté */
			background: linear-gradient(223deg, #00e5e5 14.1%, #e961ff 85.22%);
		}
	}

	.primary {
		.button-text {
			background: var(
				--dark-style-1,
				linear-gradient(223deg, #00e5e5 14.1%, #e961ff 85.22%)
			);

			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	.secondary {
		background: none;

		.button-text {
			background: var(--background);

			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
</style>
