---
---

<div class="absolute -z-40 h-full w-full overflow-hidden">
	<svg
		width="1488"
		height="964"
		class="absolute -top-60"
		viewBox="0 0 1488 964"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g filter="url(#filter0_f_12_671)">
			<path d="M0 228V-460H688L0 228Z" fill="url(#paint0_linear_12_671)"
			></path>
		</g>
		<defs>
			<filter
				id="filter0_f_12_671"
				x="-800"
				y="-1260"
				width="2288"
				height="2288"
				filterUnits="userSpaceOnUse"
				color-interpolation-filters="sRGB"
			>
				<feFlood flood-opacity="0" result="BackgroundImageFix"
				></feFlood>
				<feBlend
					mode="normal"
					in="SourceGraphic"
					in2="BackgroundImageFix"
					result="shape"></feBlend>
				<feGaussianBlur
					stdDeviation="400"
					result="effect1_foregroundBlur_12_671"></feGaussianBlur>
			</filter>
			<linearGradient
				id="paint0_linear_12_671"
				x1="585.797"
				y1="-367.768"
				x2="115.913"
				y2="139.507"
				gradientUnits="userSpaceOnUse"
			>
				<stop stop-color="#00E5E5"></stop>
				<stop offset="1" stop-color="#E961FF"></stop>
			</linearGradient>
		</defs>
	</svg>
	<!-- <svg
		width="100vw"
		class="absolute"
		height="818"
		viewBox="0 0 390 818"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g filter="url(#filter0_f_78_967)">
			<path d="M0 228V-460H688L0 228Z" fill="url(#paint0_linear_78_967)"
			></path>
		</g>
		<defs>
			<filter
				id="filter0_f_78_967"
				x="-800"
				y="-1260"
				width="2288"
				height="2288"
				filterUnits="userSpaceOnUse"
				color-interpolation-filters="sRGB"
			>
				<feFlood flood-opacity="0" result="BackgroundImageFix"
				></feFlood>
				<feBlend
					mode="normal"
					in="SourceGraphic"
					in2="BackgroundImageFix"
					result="shape"></feBlend>
				<feGaussianBlur
					stdDeviation="400"
					result="effect1_foregroundBlur_78_967"></feGaussianBlur>
			</filter>
			<linearGradient
				id="paint0_linear_78_967"
				x1="585.797"
				y1="-367.768"
				x2="115.913"
				y2="139.507"
				gradientUnits="userSpaceOnUse"
			>
				<stop stop-color="#00E5E5"></stop>
				<stop offset="1" stop-color="#E961FF"></stop>
			</linearGradient>
		</defs>
	</svg> -->
	<!-- <svg
		width="100vw"
		class="absolute"
		height="818"
		viewBox="0 0 390 818"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g filter="url(#filter0_f_78_967)">
			<path d="M0 228V-460H688L0 228Z" fill="url(#paint0_linear_78_967)"
			></path>
		</g>
		<defs>
			<filter
				id="filter0_f_78_967"
				x="-800"
				y="-1260"
				width="2288"
				height="2288"
				filterUnits="userSpaceOnUse"
				color-interpolation-filters="sRGB"
			>
				<feFlood flood-opacity="0" result="BackgroundImageFix"
				></feFlood>
				<feBlend
					mode="normal"
					in="SourceGraphic"
					in2="BackgroundImageFix"
					result="shape"></feBlend>
				<feGaussianBlur
					stdDeviation="400"
					result="effect1_foregroundBlur_78_967"></feGaussianBlur>
			</filter>
			<linearGradient
				id="paint0_linear_78_967"
				x1="585.797"
				y1="-367.768"
				x2="115.913"
				y2="139.507"
				gradientUnits="userSpaceOnUse"
			>
				<stop stop-color="#00E5E5"></stop>
				<stop offset="1" stop-color="#E961FF"></stop>
			</linearGradient>
		</defs>
	</svg> -->
	<div class="absolute -top-14 w-[80vw] max-w-[620px] sm:w-full md:w-[50vw]">
		<svg
			height="100%"
			viewBox="0 0 820 964"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<g opacity="0.2">
				<path
					d="M801.088 0L800.065 0C863.303 292.905 762.875 609.887 513.756 810.882C362.296 933.083 180.552 992.501 0 992.5L0 993.5C180.772 993.501 362.739 934.011 514.384 811.66C763.747 610.468 864.309 293.203 801.088 0Z"
					fill="url(#paint0_linear_12_673)"></path>
				<path
					d="M0 935.497C144.427 921.849 290.619 870.246 421.959 778.63C693.033 589.543 826.003 282.221 787.385 0L786.372 0C824.997 281.864 692.234 588.881 421.387 777.809C290.207 869.313 144.218 920.852 0 934.495L0 935.497Z"
					fill="url(#paint1_linear_12_673)"></path>
				<path
					d="M0 873.901C121.599 852.717 244.973 805.403 360.101 730.894C637.947 551.076 790.973 262.564 775.107 0H774.098C789.966 262.162 637.213 550.36 359.558 730.054C244.577 804.468 121.396 851.72 0 872.891L0 873.901Z"
					fill="url(#paint2_linear_12_673)"></path>
				<path
					d="M0 812.412C102.764 788.316 207.204 746.517 307.357 686.476C501.318 570.198 642.51 407.496 713.978 238.42C747.559 158.975 765.748 78.1141 766.778 0L765.778 0C764.749 77.9649 746.593 158.691 713.057 238.031C641.68 406.892 500.641 569.438 306.843 685.618C206.848 745.565 102.585 787.305 0 811.385L0 812.412Z"
					fill="url(#paint3_linear_12_673)"></path>
				<path
					d="M0 752.736C86.6533 728.749 174.765 693.021 260.862 645.287C458.301 535.824 607.804 383.93 689.898 226.815C729.489 151.044 753.408 74.0437 759.454 0L758.451 0C752.408 73.8614 728.541 150.699 689.011 226.352C607.02 383.27 457.669 535.031 260.377 644.412C174.433 692.061 86.4868 727.734 0 751.698L0 752.736Z"
					fill="url(#paint4_linear_12_673)"></path>
				<path
					d="M0 696.038C73.153 673.916 147.53 644.084 221.118 606.412C421.518 503.823 578.173 362.502 669.439 216.924C714.991 144.264 744.264 70.523 754.542 0L753.532 0C743.261 70.3074 714.063 143.861 668.592 216.392C577.437 361.793 420.93 503.001 220.662 605.522C147.22 643.119 72.9987 672.899 0 694.994L0 696.038Z"
					fill="url(#paint5_linear_12_673)"></path>
				<path
					d="M0 644.491C61.7594 625.082 124.508 600.646 187.087 571.12C390.021 475.373 552.785 344.212 651.881 209.532C703.661 139.157 738.077 67.7905 751.734 0H750.714C737.07 67.5412 702.759 138.696 651.075 208.939C552.096 343.461 389.474 474.525 186.66 570.216C124.221 599.675 61.6164 624.063 0 643.443L0 644.491Z"
					fill="url(#paint6_linear_12_673)"></path>
				<path
					fill-rule="evenodd"
					clip-rule="evenodd"
					d="M0 596.989C51.9752 580.569 104.724 560.901 157.584 537.956C362.385 449.057 530.111 327.77 635.724 203.517C693.988 134.968 733.379 65.4752 749.627 0L747.961 0C747.826 0.491653 747.689 0.98374 747.549 1.47626C747.659 0.983657 747.766 0.491569 747.87 0L746.848 0C745.256 7.46378 742.955 15.0534 739.969 22.7515C742.467 15.0325 744.1 7.44111 744.833 0L743.827 0C742.562 12.718 738.637 25.9032 732.217 39.4432C737.391 25.8334 739.398 12.6363 737.975 0L736.968 0C738.915 17.0468 734.53 35.1923 724.396 54.0748C722.244 57.7003 719.923 61.3475 717.436 65.0146C727.757 46.4711 731.483 28.6181 727.762 11.8803C726.853 7.79217 725.514 3.83195 723.758 0L722.655 0C724.479 3.90182 725.861 7.93461 726.786 12.0973C731.338 32.5743 724.56 54.8798 707.827 78.2303C706.11 80.4453 704.335 82.6661 702.504 84.8924C715.441 66.3135 720.799 48.3655 717.468 31.542C715.172 19.9449 708.855 9.42731 698.914 0L697.451 0C707.716 9.49876 714.181 20.0887 716.487 31.7363C721.489 56.9984 706.51 85.1142 674.79 114.38C698.002 91.8344 709.084 69.9033 705.528 49.5776C702.056 29.7271 684.931 13.1764 656.666 0L654.27 0C683.595 13.2652 701.075 29.9262 704.543 49.7499C707.93 69.1079 697.725 90.1653 675.752 112.033C678.588 108.708 681.087 105.402 683.24 102.118C690.939 90.3681 694.213 78.8694 692.525 67.8195C690.837 56.7696 684.279 46.7729 673.422 37.8581C662.569 28.9458 647.393 21.0922 628.402 14.3192C613.034 8.83843 595.151 4.05952 575.008 0L569.829 0C591.976 4.25592 611.495 9.35115 628.066 15.2611C646.997 22.0125 662.055 29.8184 672.787 38.6309C683.517 47.4409 689.896 57.2345 691.536 67.9705C693.177 78.7065 690.012 89.9581 682.403 101.57C677.707 108.737 671.324 116.03 663.353 123.406C662.543 124.096 661.722 124.787 660.889 125.478C659.212 126.871 657.489 128.266 655.723 129.663C660.571 125.026 664.673 120.413 667.994 115.837C675.815 105.057 679.322 94.4446 677.971 84.1768C676.619 73.909 670.484 64.5656 660.14 56.1776C649.798 47.7916 635.217 40.333 616.89 33.8272C580.235 20.8151 528.49 11.5779 465.412 6.40894C343.647 -3.56928 179.55 1.60463 0 24.1269L0 25.1347C179.55 2.60526 343.623 -2.56783 465.33 7.40558C528.371 12.5716 580.019 21.7994 616.556 34.7696C634.825 41.255 649.29 48.6669 659.51 56.9543C669.728 65.2398 675.671 74.3726 676.979 84.3073C678.287 94.242 674.91 104.602 667.184 115.249C661.688 122.825 654.002 130.529 644.275 138.302C642.344 139.695 640.37 141.09 638.355 142.486C643.736 137.912 648.266 133.352 651.899 128.819C659.788 118.977 663.482 109.223 662.424 99.7156C661.366 90.2081 655.617 81.5048 645.757 73.6385C635.897 65.7735 621.888 58.7117 604.211 52.4818C568.853 40.021 518.708 30.8504 457.427 25.2875C338.264 14.4705 176.891 17.2867 0 36.1531L0 37.1588C176.887 18.287 338.232 15.4718 457.336 26.2834C518.583 31.8432 568.634 41.0042 603.878 53.4249C621.502 59.6357 635.395 66.6521 645.133 74.4203C654.869 82.1874 660.411 90.6725 661.43 99.8262C662.449 108.98 658.908 118.476 651.119 128.194C645.255 135.509 637 142.927 626.528 150.384C622.765 152.81 618.878 155.239 614.871 157.669C622.728 152.098 629.136 146.522 633.99 140.968C641.878 131.942 645.699 122.929 644.886 114.069C644.073 105.209 638.676 97.0411 629.277 89.6015C619.879 82.1622 606.432 75.412 589.406 69.3832C555.349 57.3244 506.856 48.1129 447.465 42.0944C331.319 30.3241 173.392 30.7558 0 46.0504L0 47.0543C173.383 31.7559 331.277 31.3251 447.365 43.0892C506.723 49.1046 555.125 58.3059 589.072 70.3258C606.047 76.3363 619.379 83.0419 628.657 90.3856C637.934 97.7292 643.111 105.672 643.89 114.16C644.669 122.649 641.024 131.401 633.237 140.31C625.451 149.219 613.561 158.239 597.964 167.238C593.607 169.752 588.964 172.262 584.042 174.767C597.506 167.324 607.988 159.799 615.151 152.27C622.995 144.024 626.905 135.721 626.305 127.483C625.705 119.245 620.633 111.597 611.676 104.575C602.718 97.552 589.82 91.1114 573.436 85.2885C540.664 73.6414 493.831 64.4263 436.359 58.013C323.455 45.4141 169.398 43.6184 0 55.5012L0 56.5037C169.384 44.6183 323.405 46.4146 436.248 59.0068C493.689 65.4167 540.435 74.6213 573.101 86.2308C589.436 92.0361 602.221 98.433 611.059 105.362C619.899 112.292 624.736 119.709 625.308 127.556C625.88 135.403 622.168 143.443 614.426 151.581C606.685 159.717 594.962 167.9 579.641 176.011C578.257 176.744 576.844 177.476 575.402 178.207C584.022 173.206 591.019 168.15 596.26 163.063C604.022 155.53 607.986 147.875 607.567 140.202C607.149 132.53 602.376 125.351 593.84 118.706C585.302 112.06 572.938 105.896 557.186 100.255C525.679 88.9718 480.506 79.7379 424.974 72.9468C315.345 59.5402 165.25 55.6429 0 64.3455L0 65.3469C165.231 56.6428 315.285 60.5403 424.852 73.9395C480.355 80.727 525.444 89.9498 556.849 101.197C572.553 106.821 584.807 112.941 593.226 119.495C601.649 126.052 606.173 132.993 606.569 140.257C606.965 147.521 603.223 154.912 595.563 162.346C587.907 169.777 576.392 177.194 561.392 184.492C560.449 184.951 559.493 185.41 558.522 185.868C566.027 181.689 572.2 177.447 576.942 173.158C584.591 166.24 588.579 159.14 588.315 151.946C588.05 144.753 583.552 137.965 575.415 131.627C567.275 125.286 555.423 119.339 540.287 113.828C510.01 102.805 466.472 93.4868 412.867 86.2916C306.637 72.0324 160.776 66.0987 0 71.8032L0 72.8039C160.751 67.0985 306.567 73.032 412.734 87.2827C466.311 94.4741 509.767 103.781 539.945 114.768C555.036 120.262 566.778 126.166 574.801 132.416C582.829 138.669 587.066 145.213 587.315 151.983C587.564 158.753 583.819 165.59 576.271 172.416C568.729 179.238 557.452 185.989 542.805 192.576C541.96 192.957 541.104 193.336 540.236 193.715C537.388 194.825 534.476 195.931 531.501 197.034C542.318 192.101 550.928 187.018 557.105 181.82C564.606 175.508 568.59 168.96 568.459 162.247C568.328 155.534 564.09 149.146 556.348 143.132C548.6 137.112 537.264 131.402 522.752 126.049C493.724 115.341 451.87 106.015 400.264 98.5076C297.537 83.5638 156.078 75.8158 0 78.7673L0 79.7675C156.048 76.8158 297.458 84.5628 400.12 99.4972C451.699 107 493.474 116.315 522.406 126.987C536.875 132.325 548.102 137.991 555.735 143.921C563.374 149.856 567.336 155.993 567.459 162.266C567.582 168.54 563.862 174.826 556.461 181.055C549.066 187.279 538.068 193.38 523.819 199.279C519.453 201.086 514.783 202.874 509.821 204.64C509.189 204.85 508.555 205.06 507.919 205.27C520.38 200.316 530.175 195.135 536.988 189.769C544.32 183.993 548.28 177.933 548.263 171.643C548.245 165.352 544.252 159.314 536.889 153.579C529.517 147.836 518.683 142.329 504.784 137.105C476.98 126.656 436.793 117.296 387.178 109.483C288.036 93.8696 151.16 84.4164 0 84.8121L0 85.8121C151.124 85.4164 287.946 94.8678 387.022 110.471C436.612 118.28 476.722 127.627 504.432 138.041C518.29 143.25 529.017 148.714 536.274 154.367C543.541 160.027 547.247 165.809 547.263 171.645C547.279 177.482 543.604 183.284 536.369 188.983C529.143 194.676 518.446 200.199 504.617 205.484C499.688 207.367 494.364 209.219 488.663 211.036C500.097 206.752 509.146 202.234 515.539 197.509C522.678 192.232 526.594 186.627 526.675 180.731C526.756 174.835 522.998 169.124 516.006 163.651C509.004 158.17 498.671 152.855 485.387 147.757C458.813 137.557 420.314 128.18 372.726 120.098C277.544 103.931 145.912 92.9287 0.386902 90.9183C0.257924 90.9165 0.128957 90.9148 0 90.913L0 91.9131C0.124339 91.9148 0.248688 91.9165 0.373047 91.9182C145.863 93.9282 277.441 104.928 372.559 121.083C420.122 129.162 458.545 138.526 485.028 148.69C498.273 153.774 508.501 159.046 515.39 164.439C522.289 169.839 525.75 175.287 525.675 180.717C525.6 186.146 521.99 191.497 514.944 196.705C507.909 201.905 497.539 206.893 484.159 211.608C481.725 212.466 479.193 213.315 476.565 214.153C484.22 211.11 490.493 207.916 495.263 204.584C502.203 199.736 506.061 194.52 506.228 188.96C506.395 183.399 502.857 177.962 496.22 172.706C489.571 167.441 479.718 162.279 467.028 157.275C441.641 147.265 404.783 137.839 359.173 129.486C267.944 112.779 141.61 100.35 1.79108 96.1548C1.19381 96.1369 0.596788 96.1191 0 96.1015L0 97.102C0.586786 97.1193 1.1738 97.1367 1.76105 97.1544C141.545 101.349 267.827 113.775 358.993 130.47C404.579 138.818 441.364 148.231 466.661 158.206C479.312 163.194 489.061 168.313 495.599 173.49C502.149 178.677 505.381 183.845 505.229 188.93C505.076 194.014 501.539 198.979 494.69 203.764C487.854 208.54 477.816 213.065 464.888 217.286C461.953 218.244 458.872 219.186 455.647 220.111C453.899 220.559 452.121 221.003 450.315 221.443C446.728 222.282 443.055 223.111 439.297 223.929C441.413 223.35 443.462 222.762 445.442 222.166C457.931 218.407 467.72 214.296 474.455 209.857C481.175 205.427 484.96 200.597 485.2 195.373C485.439 190.149 482.112 184.993 475.825 179.967C469.525 174.93 460.152 169.941 448.06 165.055C423.869 155.28 388.674 145.871 345.076 137.329C257.873 120.243 136.963 106.608 3.01166 100.468C2.00708 100.422 1.00319 100.377 0 100.332L0 101.333C0.987949 101.377 1.97658 101.422 2.96588 101.467C136.883 107.605 257.742 121.237 344.884 138.311C388.459 146.848 423.581 156.242 447.685 165.982C459.74 170.853 469.01 175.799 475.201 180.748C481.405 185.708 484.418 190.589 484.201 195.327C483.984 200.065 480.537 204.65 473.905 209.022C467.287 213.384 457.604 217.461 445.154 221.209C441.521 222.302 437.654 223.367 433.563 224.403C441.891 221.707 448.643 218.792 453.661 215.665C460.158 211.616 463.863 207.137 464.166 202.22C464.468 197.302 461.341 192.403 455.391 187.587C449.425 182.759 440.517 177.928 429.005 173.151C405.974 163.594 372.401 154.205 330.77 145.495C247.5 128.074 131.904 113.353 3.71704 105.456C2.47693 105.38 1.23791 105.304 0 105.229L0 106.231C1.21744 106.305 2.43595 106.379 3.65552 106.454C131.81 114.349 247.355 129.066 330.565 146.474C372.174 155.179 405.676 164.553 428.622 174.075C440.098 178.837 448.904 183.624 454.762 188.365C460.635 193.118 463.44 197.736 463.167 202.158C462.895 206.58 459.544 210.82 453.132 214.816C446.737 218.802 437.41 222.472 425.436 225.79C420.546 227.144 415.22 228.439 409.478 229.672C408.111 229.932 406.728 230.189 405.328 230.444C405.62 230.371 405.91 230.297 406.198 230.222C417.725 227.253 426.795 223.89 433.08 220.143C439.347 216.406 442.961 212.214 443.321 207.545C443.681 202.877 440.752 198.18 435.132 193.527C429.496 188.86 421.049 184.147 410.113 179.446C388.234 170.04 356.278 160.633 316.612 151.747C237.273 133.972 127.001 118.262 4.59857 108.825C3.06397 108.706 1.5311 108.589 0 108.474L0 109.476C1.50554 109.59 3.01279 109.705 4.52173 109.822C126.891 119.257 237.114 134.961 316.394 152.723C356.038 161.604 387.923 170.995 409.718 180.364C420.618 185.05 428.965 189.719 434.495 194.297C440.04 198.888 442.646 203.299 442.324 207.468C442.003 211.638 438.751 215.597 432.568 219.284C426.402 222.96 417.438 226.294 405.948 229.254C400.242 230.724 393.92 232.1 387.019 233.379C397.817 230.805 406.343 227.835 412.297 224.472C418.322 221.068 421.838 217.188 422.245 212.797C422.651 208.407 419.907 203.947 414.609 199.496C409.293 195.029 401.297 190.475 390.929 185.894C370.187 176.727 339.835 167.4 302.124 158.439C226.694 140.514 121.739 124.032 5.13342 113.239C3.42002 113.081 1.70885 112.924 0 112.769L0 113.773C1.67821 113.925 3.35865 114.079 5.04126 114.235C121.615 125.025 226.521 141.5 301.892 159.411C339.582 168.368 369.865 177.679 390.525 186.808C400.858 191.375 408.755 195.883 413.966 200.261C419.193 204.654 421.609 208.821 421.249 212.705C420.89 216.59 417.75 220.243 411.805 223.601C405.88 226.948 397.289 229.931 386.294 232.523C380.492 233.891 374.03 235.148 366.948 236.292C367.12 236.255 367.293 236.217 367.464 236.18C378.021 233.88 386.357 231.157 392.172 228.009C397.966 224.872 401.383 221.241 401.833 217.07C402.283 212.898 399.719 208.622 394.728 204.321C389.719 200.004 382.156 195.566 372.333 191.066C352.68 182.064 323.866 172.765 288.031 163.703C216.354 145.576 116.503 128.375 5.46484 116.393C3.64055 116.196 1.81891 116.001 0 115.808L0 116.814C1.78325 117.003 3.56912 117.194 5.35754 117.387C116.364 129.366 216.167 146.56 287.786 164.672C323.599 173.729 352.345 183.011 371.916 191.976C381.705 196.459 389.17 200.852 394.075 205.078C398.998 209.32 401.234 213.299 400.839 216.962C400.443 220.625 397.41 224.035 391.696 227.13C386.002 230.212 377.771 232.911 367.251 235.203C361.899 236.369 355.961 237.429 349.475 238.38C348.55 238.482 347.622 238.584 346.689 238.684C347.419 238.546 348.138 238.407 348.846 238.265C358.911 236.247 366.872 233.796 372.443 230.905C377.993 228.025 381.302 224.637 381.788 220.685C382.275 216.734 379.888 212.645 375.203 208.504C370.499 204.347 363.371 200.038 354.097 195.638C335.543 186.835 308.288 177.616 274.359 168.516C206.494 150.316 111.843 132.572 6.49084 119.595C4.32328 119.328 2.15961 119.064 0 118.803L0 119.81C2.119 120.066 4.24191 120.325 6.36859 120.587C111.69 133.561 206.292 151.297 274.1 169.482C308.008 178.576 335.195 187.776 353.668 196.541C362.908 200.925 369.94 205.187 374.54 209.253C379.159 213.335 381.22 217.122 380.796 220.563C380.372 224.005 377.454 227.178 371.983 230.017C366.533 232.846 358.677 235.273 348.65 237.284C342.802 238.456 336.226 239.485 328.973 240.369C329.223 240.324 329.472 240.28 329.72 240.235C329.969 240.19 330.218 240.145 330.465 240.099C340.056 238.325 347.657 236.109 352.995 233.44C358.311 230.781 361.512 227.604 362.033 223.843C362.554 220.082 360.336 216.154 355.943 212.151C351.532 208.131 344.819 203.933 336.071 199.619C318.569 190.988 292.807 181.837 260.704 172.706C196.491 154.44 106.825 136.227 6.92401 122.39C4.6113 122.07 2.30323 121.754 0 121.441L0 122.45C2.25769 122.757 4.52004 123.067 6.78687 123.381C106.656 137.213 196.274 155.418 260.431 173.668C292.512 182.793 318.207 191.924 335.629 200.516C344.343 204.813 350.96 208.962 355.27 212.89C359.597 216.834 361.493 220.454 361.042 223.706C360.592 226.958 357.784 229.926 352.547 232.545C347.332 235.154 339.837 237.348 330.283 239.116C322.684 240.521 313.803 241.653 303.762 242.51C306.692 242.14 309.469 241.734 312.089 241.29C321.213 239.747 328.457 237.757 333.561 235.302C338.642 232.858 341.734 229.888 342.284 226.318C342.833 222.748 340.777 218.986 336.665 215.127C332.536 211.251 326.225 207.175 317.988 202.96C301.507 194.527 277.198 185.483 246.876 176.366C186.225 158.13 101.43 139.576 6.86505 125.022C4.57186 124.669 2.28344 124.32 0 123.975L0 124.987C2.23294 125.324 4.47066 125.665 6.71295 126.011C101.247 140.559 185.994 159.104 246.588 177.324C276.889 186.434 301.13 195.458 317.532 203.85C325.736 208.048 331.951 212.074 335.981 215.856C340.029 219.655 341.767 223.104 341.296 226.166C340.824 229.228 338.13 231.995 333.127 234.401C328.147 236.796 321.009 238.768 311.922 240.304C306.091 241.291 299.47 242.096 292.121 242.721C293.023 242.597 293.908 242.469 294.775 242.337C303.438 241.012 310.329 239.237 315.201 236.99C320.05 234.755 323.031 231.988 323.603 228.608C324.176 225.228 322.272 221.634 318.43 217.926C314.57 214.201 308.648 210.255 300.904 206.152C285.409 197.941 262.511 189.039 233.92 179.98C176.729 161.86 96.6767 143.088 7.31622 127.952C4.8717 127.538 2.43287 127.129 0 126.725L0 127.738C2.37746 128.134 4.76062 128.534 7.14923 128.938C96.4788 144.068 176.483 162.832 233.618 180.933C262.188 189.985 285.02 198.866 300.435 207.035C308.146 211.121 313.974 215.016 317.735 218.646C321.515 222.293 323.104 225.569 322.617 228.441C322.131 231.313 319.551 233.883 314.782 236.082C310.035 238.271 303.25 240.029 294.624 241.348C285.557 242.735 274.491 243.632 261.681 244.046C267.444 243.681 272.692 243.172 277.385 242.515C285.589 241.368 292.127 239.77 296.766 237.695C301.383 235.631 304.25 233.033 304.845 229.816C305.441 226.598 303.692 223.147 300.119 219.568C296.529 215.972 290.994 212.14 283.744 208.135C269.236 200.121 247.748 191.354 220.887 182.364C167.156 164.382 91.8469 145.479 7.69073 129.915C5.12044 129.44 2.55673 128.97 0 128.507L0 129.523C2.49643 129.976 4.99952 130.434 7.50891 130.898C91.634 146.457 166.896 165.349 220.569 183.313C247.41 192.296 268.831 201.04 283.26 209.01C290.478 212.997 295.918 216.775 299.411 220.274C302.921 223.79 304.364 226.919 303.862 229.634C303.36 232.349 300.893 234.755 296.358 236.782C291.844 238.801 285.413 240.383 277.247 241.525C270.32 242.493 262.167 243.142 252.916 243.475C255.501 243.255 257.95 242.997 260.258 242.699C268.026 241.695 274.231 240.238 278.651 238.303C283.051 236.376 285.81 233.916 286.429 230.832C287.048 227.749 285.453 224.414 282.137 220.939C278.807 217.447 273.645 213.708 266.867 209.784C253.305 201.932 233.164 193.278 207.955 184.347C157.53 166.483 86.7444 147.486 7.54797 131.585C5.02519 131.079 2.50906 130.579 0 130.084L0 131.104C2.44379 131.585 4.89429 132.073 7.35114 132.566C86.5161 148.46 157.253 167.446 207.621 185.29C232.809 194.213 252.882 202.843 266.366 210.649C273.11 214.554 278.179 218.237 281.414 221.629C284.664 225.036 285.968 228.046 285.448 230.635C284.928 233.225 282.563 235.498 278.25 237.387C273.957 239.267 267.859 240.708 260.13 241.707C255.8 242.266 250.968 242.686 245.667 242.967C252.284 242.099 257.628 240.839 261.53 239.167C265.716 237.372 268.366 235.046 269.006 232.096C269.646 229.147 268.197 225.932 265.13 222.564C262.05 219.182 257.247 215.543 250.926 211.71C238.278 204.039 219.444 195.526 195.838 186.69C148.62 169.015 82.2291 150.02 7.85559 133.891C5.22931 133.322 2.6106 132.76 0 132.205L0 133.227C2.54037 133.767 5.08842 134.314 7.64368 134.869C81.9852 150.991 148.327 169.973 195.488 187.626C219.072 196.454 237.839 204.942 250.408 212.565C256.695 216.378 261.405 219.958 264.391 223.238C267.391 226.532 268.563 229.42 268.029 231.884C267.494 234.349 265.231 236.492 261.136 238.247C257.059 239.995 251.29 241.303 243.988 242.169C239.069 242.752 233.47 243.133 227.246 243.316C227.993 243.249 228.725 243.176 229.442 243.099C236.377 242.354 241.944 241.16 245.942 239.487C249.923 237.821 252.469 235.627 253.125 232.81C253.782 229.994 252.469 226.9 249.636 223.645C246.79 220.376 242.325 216.843 236.435 213.108C224.649 205.633 207.048 197.282 184.958 188.567C140.771 171.134 78.5396 152.216 8.73578 135.941C5.81373 135.259 2.90153 134.588 0 133.927L0 134.953C2.82633 135.597 5.66281 136.251 8.50867 136.915C78.2802 153.183 140.462 172.087 184.591 189.497C206.659 198.203 224.192 206.528 235.9 213.952C241.756 217.666 246.128 221.139 248.882 224.302C251.647 227.479 252.697 230.244 252.151 232.583C251.606 234.923 249.442 236.938 245.556 238.564C241.688 240.183 236.231 241.364 229.336 242.105C223.635 242.718 216.972 243.027 209.445 243.042C208.741 243.017 208.033 242.99 207.321 242.962C209.461 242.852 211.492 242.705 213.41 242.52C219.936 241.889 225.188 240.816 228.977 239.266C232.75 237.723 235.187 235.658 235.857 232.975C236.528 230.293 235.349 227.324 232.745 224.188C230.131 221.038 226.002 217.62 220.54 213.993C209.61 206.737 193.238 198.579 172.659 190.024C131.496 172.912 73.42 154.179 8.18671 137.875C5.44843 137.191 2.71927 136.516 0 135.852L0 137.553C2.83909 138.293 5.68971 139.045 8.55084 139.809C69.4379 156.062 123.534 174.581 161.772 191.38C180.895 199.781 196.031 207.743 206.065 214.765C211.085 218.279 214.802 221.539 217.104 224.482C219.416 227.437 220.232 229.977 219.665 232.099C219.099 234.222 217.125 236.018 213.649 237.427C210.186 238.832 205.339 239.806 199.236 240.35C193.427 240.868 186.508 240.994 178.612 240.742C180.988 240.683 183.224 240.57 185.312 240.4C191.097 239.931 195.779 239.029 199.192 237.661C202.593 236.297 204.834 234.426 205.537 231.956C206.24 229.485 205.32 226.715 203.146 223.765C200.965 220.805 197.458 217.573 192.787 214.129C183.441 207.237 169.334 199.421 151.537 191.168C115.937 174.659 65.4915 156.363 8.63617 140.186C5.74585 139.364 2.86672 138.555 0 137.759L0 138.797C2.7762 139.568 5.56407 140.352 8.36249 141.148C65.1836 157.315 115.577 175.594 151.117 192.076C168.89 200.318 182.927 208.101 192.194 214.934C196.829 218.352 200.245 221.514 202.341 224.358C204.443 227.211 205.153 229.653 204.575 231.682C203.998 233.711 202.109 235.414 198.82 236.733C195.542 238.047 190.972 238.938 185.232 239.404C179.479 239.871 172.581 239.91 164.682 239.536C167.164 239.509 169.489 239.416 171.647 239.256C177.071 238.855 181.476 238.03 184.704 236.746C187.923 235.465 190.066 233.688 190.781 231.324C191.497 228.959 190.699 226.292 188.73 223.441C186.756 220.583 183.547 217.454 179.256 214.113C170.671 207.427 157.653 199.817 141.197 191.758C108.277 175.637 61.5132 157.678 8.70575 141.697C5.79137 140.815 2.88897 139.948 0 139.097L0 140.14C2.79322 140.964 5.59901 141.802 8.41608 142.654C61.1884 158.625 107.899 176.565 140.757 192.657C157.189 200.704 170.136 208.279 178.642 214.902C182.897 218.215 186.016 221.271 187.907 224.01C189.804 226.756 190.41 229.097 189.824 231.034C189.238 232.971 187.436 234.583 184.334 235.817C181.242 237.047 176.952 237.861 171.574 238.259C166.396 238.642 160.238 238.638 153.219 238.26C155.429 238.251 157.505 238.182 159.441 238.054C164.524 237.718 168.668 236.967 171.721 235.765C174.768 234.566 176.818 232.88 177.543 230.622C178.269 228.364 177.584 225.8 175.806 223.051C174.024 220.296 171.093 217.272 167.157 214.037C159.28 207.565 147.281 200.17 132.078 192.317C101.665 176.608 58.3478 159.021 9.3327 143.273C6.20662 142.268 3.09503 141.284 0 140.319V141.366C2.99405 142.301 6.00363 143.253 9.02686 144.225C58.006 159.961 101.269 177.529 131.619 193.206C146.798 201.046 158.726 208.403 166.522 214.81C170.422 218.015 173.264 220.963 174.966 223.594C176.673 226.232 177.184 228.472 176.591 230.316C175.999 232.161 174.279 233.684 171.355 234.834C168.439 235.982 164.412 236.723 159.375 237.057C155.282 237.328 150.543 237.329 145.224 237.069C145.853 237.043 146.468 237.011 147.069 236.973C151.832 236.67 155.731 235.962 158.624 234.811C161.513 233.662 163.476 232.039 164.219 229.86C164.961 227.682 164.396 225.197 162.81 222.524C161.222 219.846 158.567 216.905 154.979 213.757C147.801 207.457 136.796 200.249 122.814 192.584C94.8412 177.251 54.8637 160.044 9.50946 144.592C6.32307 143.506 3.15237 142.444 0 141.405L0 145.204C3.27787 146.538 6.5816 147.914 9.90533 149.333C42.4939 163.247 70.8089 178.59 90.2428 192.142C99.9632 198.92 107.439 205.235 112.119 210.683C114.459 213.408 116.081 215.895 116.942 218.096C117.802 220.294 117.886 222.162 117.23 223.7C116.573 225.238 115.166 226.469 112.983 227.368C110.798 228.268 107.88 228.817 104.293 229.011C97.122 229.4 87.3904 228.368 75.772 226.035C55.1065 221.886 28.5552 213.641 0 202.075L0 206.835C3.67804 207.979 7.33242 209.095 10.9597 210.182C7.33074 209.154 3.67654 208.1 0 207.022L0 208.064C1.64236 208.545 3.28026 209.022 4.91345 209.493C3.27995 209.048 1.64206 208.599 0 208.145L0 209.182C4.01781 210.292 8.01073 211.375 11.9754 212.431C8.00883 211.435 4.01607 210.414 0 209.37L0 210.403C18.5108 215.213 36.5274 219.516 53.766 223.28C36.4726 219.712 18.469 215.667 0 211.168L0 212.197C9.98678 214.629 19.8377 216.927 29.514 219.089C19.8249 217.057 9.97579 214.903 0 212.63L0 213.655C14.2709 216.906 28.283 219.912 41.9384 222.666C28.2617 220.097 14.2536 217.3 0 214.282L0 215.304C5.17947 216.4 10.3266 217.467 15.4371 218.505C10.3244 217.542 5.17751 216.553 0 215.537L0 216.556C19.5739 220.395 38.7112 223.854 57.2169 226.923C38.669 224.079 19.5397 220.884 0 217.346L0 218.362C40.4895 225.691 79.2194 231.545 114.67 235.858C78.9852 231.89 40.3197 226.543 0 219.855L0 220.868C36.1952 226.87 71.0593 231.791 103.633 235.604C70.9115 232.169 36.085 227.728 0 222.292L0 223.303C44.0098 229.93 86.1505 235.079 124.887 238.727C85.9208 235.493 43.8403 230.901 0 224.951L0 225.96C39.5685 231.329 77.7057 235.591 113.416 238.748C77.5577 236.01 39.4574 232.267 0 227.504L0 228.511C54.7439 235.117 106.88 239.761 154.044 242.48C106.571 240.288 54.5239 236.349 0 230.594L0 231.6C53.5324 237.248 104.681 241.147 151.462 243.36C104.419 241.693 53.3409 238.486 0 233.655L0 234.659C67.1915 240.743 130.799 244.249 187.278 245.35C130.359 244.924 66.879 242.295 0 237.252L0 238.255C72.8549 243.747 141.683 246.375 202.398 246.412C141.208 247.08 72.5207 245.385 0 241.021L0 242.023C72.3732 246.377 140.935 248.073 202.045 247.416C140.519 248.875 72.0772 248.16 0 244.935L0 245.936C108.014 250.768 207.88 249.964 288.555 244.652C290.346 244.551 292.125 244.448 293.894 244.342C297.713 244.16 301.448 243.957 305.095 243.734C220.273 251.054 114.558 253.778 0 250.436L0 251.436C85.727 253.936 166.511 253.041 237.303 249.364C166.004 254.035 85.3743 256.129 0 254.996L0 255.996C110.11 257.457 212.342 253.551 296.859 245.67C211.354 254.76 109.456 260.18 0.0477295 260.48C0.0318195 260.48 0.0159097 260.48 0 260.48L0 261.48C0.0168252 261.48 0.0336505 261.48 0.0504761 261.48C133.628 261.114 256.031 253.117 351.1 240.125C254.871 254.513 133.49 264.343 1.43488 266.924C0.956447 266.934 0.478155 266.943 0 266.952L0 267.952C0.484682 267.943 0.969505 267.934 1.45447 267.924C152.457 264.972 289.527 252.545 391.028 234.655C391.442 234.59 391.856 234.525 392.269 234.46C289.003 254.101 152.692 268.736 2.95612 274.241C1.97019 274.277 0.984817 274.313 0 274.348L0 275.349C0.997052 275.313 1.99467 275.277 2.99286 275.24C134.508 270.405 255.686 258.528 353.235 242.398C255.157 260.144 135.176 273.968 5.27014 281.053C3.51174 281.149 1.75502 281.243 0 281.336L0 282.338C1.77314 282.244 3.54801 282.148 5.32458 282.052C162.166 273.497 304.565 255.122 411.449 231.872C303.418 257.127 162.52 277.884 7.74152 289.159C5.15754 289.347 2.577 289.532 0 289.714L0 290.717C2.60115 290.533 5.2059 290.346 7.81415 290.156C180.842 277.552 336.553 253.099 448.432 223.748C451.554 222.929 454.642 222.106 457.695 221.279C459.799 220.756 461.881 220.23 463.941 219.701L463.579 219.807C349.041 253.238 189.196 282.085 11.196 298.416C7.45703 298.759 3.72495 299.096 0 299.425L0 300.429C3.7553 300.097 7.51784 299.758 11.2874 299.412C189.331 283.076 349.243 254.22 463.859 220.767C469.996 218.976 476.003 217.171 481.877 215.355C480.757 215.72 479.633 216.084 478.504 216.449C361.461 254.23 197.669 287.776 14.8743 308.123C9.90447 308.676 4.94616 309.217 0 309.745L0 310.75C4.98287 310.219 9.97804 309.674 14.9849 309.117C197.826 288.764 361.687 255.208 478.811 217.4C491.096 213.435 502.868 209.422 514.094 205.373C507.068 208.05 499.849 210.714 492.443 213.363C373.337 255.97 206.113 294.643 19.0051 319.275C12.6517 320.111 6.31629 320.926 0 321.719L0 322.727C6.35958 321.929 12.7385 321.108 19.1356 320.266C206.292 295.629 373.589 256.942 492.78 214.305C505.793 209.65 518.235 204.947 530.067 200.209C522.31 203.482 514.315 206.742 506.09 209.986C385.194 257.666 214.827 301.766 23.6476 330.974C15.7379 332.182 7.85469 333.356 0 334.494L0 335.505C7.90472 334.359 15.8383 333.179 23.7986 331.962C215.029 302.747 385.473 258.631 506.457 210.917C515.854 207.21 524.953 203.482 533.742 199.737C528.999 201.884 524.173 204.027 519.264 206.164C397.006 259.401 223.958 309.379 29.1021 343.467C19.3623 345.171 9.66028 346.819 0 348.411L0 349.425C9.71733 347.824 19.4768 346.166 29.2744 344.452C224.185 310.354 397.313 260.358 519.663 207.081C540.767 197.892 560.363 188.603 578.301 179.28C584.566 176.165 590.604 173.045 596.407 169.923C598.348 168.894 600.257 167.865 602.135 166.836C581.343 179.244 558.051 191.652 532.515 203.934C409.33 263.184 234.058 319.455 35.901 358.691C23.8776 361.071 11.9082 363.362 0 365.563L0 366.58C11.9724 364.368 24.0066 362.065 36.0953 359.672C234.311 320.425 409.668 264.132 532.949 204.835C564.759 189.535 593.109 174.031 617.494 158.565C596.159 172.765 572.066 186.999 545.502 201.11C421.951 266.745 245.07 329.678 44.1481 374.34C29.3516 377.629 14.6311 380.773 0 383.773L0 384.794C14.7028 381.78 29.4956 378.621 44.3651 375.316C245.349 330.64 422.32 267.681 545.972 201.993C584.845 181.342 618.459 160.417 645.896 139.698C621.093 159.34 591.712 179.146 558.327 198.775C434.963 271.308 257.035 341.363 53.7857 391.733C35.7453 396.203 17.8088 400.444 0 404.455L0 405.48C17.8882 401.453 35.9049 397.194 54.0262 392.703C257.342 342.317 435.366 272.231 558.834 199.637C591.268 180.567 619.944 161.32 644.328 142.206C622.7 160.231 597.895 178.362 570.244 196.379C447.739 276.202 269.473 353.742 64.4855 410.061C42.8415 416.008 21.3328 421.599 0 426.836L0 427.865C21.4201 422.609 43.0174 416.996 64.7505 411.025C269.81 354.687 448.177 277.11 570.79 197.216C611.131 170.931 645.447 144.388 672.695 118.259C675.901 115.324 678.999 112.394 681.986 109.472C655.585 138.031 622.005 167.099 582.257 195.935C461.372 283.634 283.529 369.124 77.3809 431.599C51.3925 439.475 25.5752 446.797 0 453.568L0 454.602C25.6708 447.809 51.585 440.461 77.6709 432.556C283.897 370.057 461.848 284.525 582.844 196.744C630.943 161.85 670.056 126.589 698.368 92.267C698.75 91.8337 699.129 91.4006 699.505 90.9677L699.688 90.7574C673.33 125.195 637.889 160.455 594.714 195.435C476.239 291.42 299.608 385.223 92.9032 454.073C61.6863 464.47 30.6771 474.001 0 482.67L0 483.709C30.7813 475.016 61.8963 465.454 93.2192 455.021C300.008 386.144 476.753 292.29 595.343 196.212C646.22 154.993 686.409 113.352 713.673 73.0828C715.603 70.3751 717.425 67.6781 719.138 64.9928C693.759 108.106 655.79 152.687 607.256 196.873C492.107 301.708 317.568 404.249 110.929 479.625C73.6501 493.222 36.6017 505.471 0 516.38L0 517.423C36.7148 506.487 73.8781 494.204 111.271 480.564C318.001 405.156 492.662 302.555 607.93 197.612C665.562 145.142 708.366 92.0688 732.898 41.4969C733.929 39.3714 734.928 37.2503 735.894 35.1338C713.646 88.4037 674.279 144.154 620.732 199.33C509.898 313.535 338.379 425.208 132.439 507.252C87.9505 524.976 43.6775 540.591 0 554.114L0 555.161C43.8 541.608 88.1973 525.954 132.809 508.181C338.849 426.097 510.497 314.354 621.45 200.026C676.926 142.863 717.245 85.0359 739.093 29.9288C740.729 25.8032 742.261 21.6926 743.688 17.5986C725.19 77.5822 687.911 140.574 634.962 202.869C529.468 326.982 361.877 448.188 157.186 537.039C104.458 559.927 51.8428 579.55 0 595.941L0 596.989ZM213.314 241.524C207.158 242.119 199.82 242.319 191.437 242.137C190.054 242.05 188.66 241.959 187.257 241.865C191.679 241.84 195.712 241.668 199.325 241.346C205.469 240.798 210.429 239.812 214.025 238.354C217.607 236.901 219.944 234.934 220.631 232.357C221.319 229.781 220.274 226.911 217.892 223.866C215.501 220.81 211.693 217.483 206.639 213.946C196.525 206.868 181.32 198.875 162.174 190.464C126.614 174.842 77.3901 157.746 21.767 142.364C81.3268 157.8 134.099 175.077 172.276 190.948C192.832 199.493 209.136 207.622 219.987 214.826C225.415 218.43 229.452 221.785 231.976 224.826C234.51 227.88 235.441 230.518 234.887 232.733C234.334 234.948 232.271 236.838 228.598 238.341C224.941 239.836 219.8 240.898 213.314 241.524ZM147.006 235.975C141.324 236.337 134.33 236.118 126.224 235.347C125.763 235.29 125.298 235.231 124.831 235.171C128.671 235.354 132.153 235.355 135.24 235.167C139.704 234.896 143.373 234.229 146.116 233.129C148.857 232.03 150.74 230.468 151.498 228.369C152.255 226.271 151.803 223.866 150.396 221.27C148.987 218.672 146.589 215.816 143.327 212.756C136.8 206.635 126.723 199.619 113.877 192.15C91.452 179.111 60.5235 164.652 25.1383 151.123C63.843 165.045 97.7489 179.985 122.333 193.461C136.291 201.112 147.222 208.28 154.32 214.508C157.87 217.624 160.438 220.485 161.95 223.034C163.465 225.587 163.88 227.754 163.272 229.538C162.664 231.322 161.013 232.785 158.254 233.882C155.5 234.977 151.72 235.675 147.006 235.975ZM135.179 234.169C131.334 234.403 126.856 234.34 121.817 233.992C122.894 233.977 123.93 233.941 124.923 233.883C129.1 233.639 132.549 233.009 135.147 231.957C137.745 230.905 139.551 229.404 140.322 227.385C141.093 225.366 140.747 223.044 139.511 220.528C138.276 218.012 136.124 215.244 133.173 212.278C127.268 206.343 118.079 199.534 106.323 192.278C82.9155 177.83 49.2461 161.56 10.8077 146.849C51.9749 161.803 88.105 178.322 113.375 193.015C126.194 200.469 136.197 207.44 142.643 213.486C145.868 216.51 148.181 219.282 149.516 221.747C150.854 224.214 151.179 226.307 150.557 228.03C149.935 229.753 148.349 231.156 145.744 232.201C143.142 233.245 139.592 233.901 135.179 234.169ZM90.8148 191.322C73.0516 178.935 47.9282 165.078 18.9359 152.179C50.5688 165.476 78.0593 179.787 97.5556 192.577C108.239 199.586 116.499 206.123 121.726 211.774C124.341 214.601 126.177 217.184 127.184 219.473C128.192 221.762 128.35 223.705 127.704 225.305C127.058 226.905 125.594 228.193 123.28 229.14C120.965 230.088 117.85 230.672 114.006 230.889C108.935 231.177 102.645 230.825 95.3466 229.87C98.6637 230.105 101.676 230.155 104.348 230.01C107.993 229.812 111.035 229.252 113.364 228.293C115.695 227.332 117.356 225.951 118.149 224.093C118.943 222.234 118.791 220.079 117.873 217.732C116.955 215.386 115.256 212.802 112.877 210.032C108.118 204.491 100.564 198.12 90.8148 191.322ZM124.864 232.885C119.069 233.223 111.763 232.813 103.22 231.698C107.258 232.001 110.89 232.068 114.063 231.888C117.963 231.667 121.201 231.072 123.659 230.066C126.118 229.059 127.848 227.618 128.631 225.68C129.414 223.741 129.17 221.502 128.1 219.07C127.03 216.639 125.113 213.963 122.46 211.095C117.153 205.358 108.815 198.768 98.1042 191.741C78.3978 178.813 50.5835 164.356 18.6102 150.958C53.6015 164.791 84.1264 179.753 105.797 193.129C117.526 200.368 126.64 207.13 132.464 212.983C135.377 215.911 137.446 218.59 138.614 220.969C139.782 223.348 140.022 225.367 139.387 227.029C138.753 228.69 137.228 230.035 134.772 231.03C132.316 232.025 128.988 232.644 124.864 232.885Z"
					fill="url(#paint7_linear_12_673)"></path>
				<path
					d="M0 12.7559C33.8118 7.86297 67.0926 3.61523 99.6689 0L90.725 0C61.0078 3.38902 30.7227 7.30104 0 11.7455L0 12.7559Z"
					fill="url(#paint8_linear_12_673)"></path>
			</g>
			<defs>
				<linearGradient
					id="paint0_linear_12_673"
					x1="222.5"
					y1="180"
					x2="667.5"
					y2="476"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-color="currentColor"></stop>
					<stop offset="1" stop-color="currentColor" stop-opacity="0"
					></stop>
				</linearGradient>
				<linearGradient
					id="paint1_linear_12_673"
					x1="222.5"
					y1="180"
					x2="667.5"
					y2="476"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-color="currentColor"></stop>
					<stop offset="1" stop-color="currentColor" stop-opacity="0"
					></stop>
				</linearGradient>
				<linearGradient
					id="paint2_linear_12_673"
					x1="222.5"
					y1="180"
					x2="667.5"
					y2="476"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-color="currentColor"></stop>
					<stop offset="1" stop-color="currentColor" stop-opacity="0"
					></stop>
				</linearGradient>
				<linearGradient
					id="paint3_linear_12_673"
					x1="222.5"
					y1="180"
					x2="667.5"
					y2="476"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-color="currentColor"></stop>
					<stop offset="1" stop-color="currentColor" stop-opacity="0"
					></stop>
				</linearGradient>
				<linearGradient
					id="paint4_linear_12_673"
					x1="222.5"
					y1="180"
					x2="667.5"
					y2="476"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-color="currentColor"></stop>
					<stop offset="1" stop-color="currentColor" stop-opacity="0"
					></stop>
				</linearGradient>
				<linearGradient
					id="paint5_linear_12_673"
					x1="222.5"
					y1="180"
					x2="667.5"
					y2="476"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-color="currentColor"></stop>
					<stop offset="1" stop-color="currentColor" stop-opacity="0"
					></stop>
				</linearGradient>
				<linearGradient
					id="paint6_linear_12_673"
					x1="222.5"
					y1="180"
					x2="667.5"
					y2="476"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-color="currentColor"></stop>
					<stop offset="1" stop-color="currentColor" stop-opacity="0"
					></stop>
				</linearGradient>
				<linearGradient
					id="paint7_linear_12_673"
					x1="222.5"
					y1="180"
					x2="667.5"
					y2="476"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-color="currentColor"></stop>
					<stop offset="1" stop-color="currentColor" stop-opacity="0"
					></stop>
				</linearGradient>
				<linearGradient
					id="paint8_linear_12_673"
					x1="222.5"
					y1="180"
					x2="667.5"
					y2="476"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-color="currentColor"></stop>
					<stop offset="1" stop-color="currentColor" stop-opacity="0"
					></stop>
				</linearGradient>
			</defs>
		</svg>
	</div>
	<div class="absolute -top-20">
		<svg
			width="541"
			height="541"
			viewBox="0 0 541 541"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<g filter="url(#filter0_f_12_670)">
				<path d="M0 357V0H357L0 357Z" fill="url(#paint0_linear_12_670)"
				></path>
			</g>
			<defs>
				<filter
					id="filter0_f_12_670"
					x="-184"
					y="-184"
					width="725"
					height="725"
					filterUnits="userSpaceOnUse"
					color-interpolation-filters="sRGB"
				>
					<feFlood flood-opacity="0" result="BackgroundImageFix"
					></feFlood>
					<feBlend
						mode="normal"
						in="SourceGraphic"
						in2="BackgroundImageFix"
						result="shape"></feBlend>
					<feGaussianBlur
						stdDeviation="92"
						result="effect1_foregroundBlur_12_670"></feGaussianBlur>
				</filter>
				<linearGradient
					id="paint0_linear_12_670"
					x1="303.967"
					y1="47.8587"
					x2="60.1467"
					y2="311.082"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-color="#00E5E5"></stop>
					<stop offset="1" stop-color="#E961FF"></stop>
				</linearGradient>
			</defs>
		</svg>
	</div>
	<div class="absolute">
		<svg
			width="541"
			height="541"
			viewBox="0 0 541 541"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<g filter="url(#filter0_f_12_670)">
				<path d="M0 357V0H357L0 357Z" fill="url(#paint0_linear_12_670)"
				></path>
			</g>
			<defs>
				<filter
					id="filter0_f_12_670"
					x="-184"
					y="-184"
					width="725"
					height="725"
					filterUnits="userSpaceOnUse"
					color-interpolation-filters="sRGB"
				>
					<feFlood flood-opacity="0" result="BackgroundImageFix"
					></feFlood>
					<feBlend
						mode="normal"
						in="SourceGraphic"
						in2="BackgroundImageFix"
						result="shape"></feBlend>
					<feGaussianBlur
						stdDeviation="92"
						result="effect1_foregroundBlur_12_670"></feGaussianBlur>
				</filter>
				<linearGradient
					id="paint0_linear_12_670"
					x1="303.967"
					y1="47.8587"
					x2="60.1467"
					y2="311.082"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-color="#00E5E5"></stop>
					<stop offset="1" stop-color="#E961FF"></stop>
				</linearGradient>
			</defs>
		</svg>
	</div>
	<div class="absolute -right-20 -top-20">
		<svg
			width="968"
			height="921"
			viewBox="0 0 968 921"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<g opacity="0.3" filter="url(#filter0_f_12_674)">
				<path
					d="M780.324 282.265C780.324 70.6884 388.159 146.895 260.555 53.6801C245.098 42.3887 237.369 36.743 241.196 16.8278C245.022 -3.08745 258.828 -6.6313 286.439 -13.719C533.233 -77.0697 836.731 -161.439 1112.8 -150.32C1139.7 -149.237 1153.16 -148.695 1162.08 -139.406C1171 -130.118 1171 -116.127 1171 -88.1461V605.453C1171 646.265 1171 666.671 1156.06 676.085C1141.12 685.499 1123.78 677.202 1089.09 660.607C954.409 596.169 780.324 467.138 780.324 282.265Z"
					fill="url(#paint0_linear_12_674)"></path>
			</g>
			<defs>
				<filter
					id="filter0_f_12_674"
					x="0.226562"
					y="-391.315"
					width="1410.77"
					height="1311.35"
					filterUnits="userSpaceOnUse"
					color-interpolation-filters="sRGB"
				>
					<feFlood flood-opacity="0" result="BackgroundImageFix"
					></feFlood>
					<feBlend
						mode="normal"
						in="SourceGraphic"
						in2="BackgroundImageFix"
						result="shape"></feBlend>
					<feGaussianBlur
						stdDeviation="120"
						result="effect1_foregroundBlur_12_674"></feGaussianBlur>
				</filter>
				<linearGradient
					id="paint0_linear_12_674"
					x1="1030.32"
					y1="-37.9942"
					x2="461.617"
					y2="649.821"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-color="#00E5E5"></stop>
					<stop offset="1" stop-color="#E961FF"></stop>
				</linearGradient>
			</defs>
		</svg>
	</div>
</div>

<style lang="scss"></style>
